*.js
*.d.ts
node_modules
yarn-error.log
cognito_arn.ts
cloudformation.yaml
/output

# Lambda Source Codes
!resources
!/resources/js/index.js
!/resources/js/*/*.js

# python
.mypy_cache
.vscode

cdk.out
cdk.output

!.eslintrc.js
!/lambdaSources/*/*.d.ts
